<!DOCTYPE html>
<html>
<head>
  <title>Skipit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="//connect.soundcloud.com/sdk.js"></script>
  <script src="//w.soundcloud.com/player/api.js"></script>
  <script>
    SC.initialize({
      client_id: "44eb1fb2fd831aed03620d757489bdd6",
      redirect_uri: "http://localhost:3000/users",
    });
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
